TZ=America/Santo_Domingo
OBSERVIUM_BASE_URL=http://127.0.0.1:8666
OBSERVIUM_DB_NAME=observium
OBSERVIUM_DB_USER=observium
OBSERVIUM_DB_PASSWORD=change-me
OBSERVIUM_DB_ROOT_PASSWORD=change-root-me
OBSERVIUM_ADMIN_USER=admin
OBSERVIUM_ADMIN_PASS=change-admin-me
OBSERVIUM_SQL_DUMP=/home/soporte/observium-20260501-081936.sql

